# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular data science languages
* List of popular data science libraries
+ A table of Data Science tools
- Introducing arithmetic expression in Python
* Convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pytorch
3. Scikit-Learn
4. Keras
5. Pandas
6. NumPy
7. TensorFlow
8. Apache Spark

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This is a simple arithmetic expression to multiply and then add
print((3*4)+5)

17

In [4]:
#Converts 200 minutes to hours
print(200/60)

3.3333333333333335

## Author
James Okonkwo